.container.slp-container.text-center
  .row
    = image_tag "/images/events/gitlab-commit/2020-hero4.jpg", loading: "lazy"
    .hero-content
      %h1{style: "font-size: 3.8em; margin-bottom: .2em"} Commit: Innovate Together
      %h2{style: "font-size: 3em;"} Aug 10th - 11th, 2021

      - if current_page.data.cfp_date
        - cfpDate = Time.parse(current_page.data.cfp_date)
      - else
        - cfpDate = Time.parse("2010-01-01")
      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")

      - if (cfpDate > currentTime && current_page.data.event_register_url)
        =link_to "Submit to speak", "https://forms.gle/YU2sENCjcFBSv8VF7", target: "_blank", class: "btn cta-btn orange u-margin-top-sm"

      - else
        =link_to "View 2020 on demand", "https://www.youtube.com/c/Gitlab/playlists?view=50&sort=dd&shelf_id=5", target: "_blank", class: "btn cta-btn orange u-margin-top-sm"

-# Widget for eventbrite modal to be used for registration
    -# %noscript
    -#   :plain
    -#     <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-tickets-105130995638#tickets" rel="noopener noreferrer" target="_blank"></noscript>
    -#     <button id="eventbrite-widget-modal-trigger" type="button" class="btn cta-btn orange u-margin-top-sm" style="border: 1px solid #ffffff;">#{current_page.data.header_primary_cta_text}</button>
    -#     <noscript>#{current_page.data.header_primary_cta_text}</a></noscript>
